{
  "app": {
    "guid": "e943a389-aedd-4ce0-a8b0-ac9d82b16fe9"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators",
    "entitiesSecurity": null,
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "ZTk0M2EzODktYWVkZC00Y2UwLWE4YjAtYWM5ZDgyYjE2ZmU5",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Token",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "appid": "io.cronapp.apps.ccbjk",
      "backend": "true",
      "social": "false",
      "theme": "Material",
      "authentication": "Token",
      "mutual": "false",
      "frontend": "true"
    },
    "groupName": null
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0
}